<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Serve actual files
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Serve directories
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rewrite everything else to index.html
    RewriteRule ^ /index.html [QSA,L]
</IfModule>

# Allow JSON files
<Files "swagger.json">
    Allow from all
</Files>
